html {
  scroll-behavior: smooth;
}

/*barra de nav*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    background-color: #3e321c;
    z-index: 1000; 
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    background-color: #3e321c;
    z-index: 1000; 
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.logo img {
    width: 20rem;
    margin-left: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0 1rem;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    font-weight: 300;
    color: var(--text);
}

.navbar a:hover {
    color: #e9d5a0;
    font-size: clamp(1.7rem, 2.1vw, 1.9rem);
    
}

.banner-scroll {
    background-color: rgb(80, 71, 54);
    background-image: url('../img/banner/baanner2.png');
    background-size: 50%;             
    background-repeat: no-repeat;
    background-position: right center;  
    background-attachment: fixed;       
    height: 80rem;                      
    width: 100%;
    z-index: 1;
    position: relative;
}

.banner-scroll h1 {
    font-size: 12rem;
    padding-top: 26rem;
    padding-left: 4rem;
    color: #eae1d2;
}

.banner-scroll h2 {
    font-size: 6rem;
    padding-left: 4rem;
    color: var(--text);
    font-weight: 400;
}

.banner-scroll::before {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;              
    transform: translateZ(0);
    transition: opacity 0.3s ease;
}

.margin {
    margin-top: 100vh;
}


.home {
    padding-top: 4rem; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    border-radius: 3rem;
    margin: 2rem;
    max-width: 100%;
}

.container h1 {
    font-size: 4rem;
    color: var(--p);
    margin-bottom: 2rem;
}
    
.container p {
    font-size: 2.5rem;
    color: var(--text);
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
}

.btn {
    text-align: center;
    background-color: var(--btn);
    color: var(--maincolor);
    width: 18rem;
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem;
    margin: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
}


.btn:hover {
    background-color: var(--btnhover);
    color: #a76b05;
    border: var(--border);
}

.btn a {
    color: var(--maincolor);
}

.btn a:hover {
    color: var(--btn);
}
/*final do container*/


.introduction {
    padding: 8rem;
    display: flex;
    justify-content: space-between;
}

.column-1 img {
    background-color: #c1a16b;
    border-radius: 9rem;
}

.column-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5rem 5rem 5rem;
}

.column-2 h1 {
    font-size: 3rem;
    color: var(--p);
    margin-bottom: 2rem;
}

.column-2 p {
    font-size: 2rem;
    color: var(--p);
    text-align: center;
    display: center;
    word-break: keep-all;
}

.h3-fmenu {
    font-size: clamp(2.5rem, 5vw, 3rem);
    color: var(--btn);
    margin: 2rem 0;
    margin-top: 5rem;
    text-align: center;
}

.ferramentas-menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-top: 2rem;
    margin: 0 10rem 15rem 10rem;
}

.ferramentas-menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 3rem;
    border-radius: 2rem;
    margin: 1rem;
}

.ferramentas-menu .box-container .box img {
    height: 8rem;
    width: auto;
}

.ferramentas-menu .box-container .box h3 {
    color: var(--btn);
    font-size: clamp(2rem, 3vw, 3rem);
    padding: 1rem 0;
}

.ferramentas-menu .box-container .box .text {
    color: #987332;
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    padding: 1rem 0;
}

.ferramentas-menu .box-container .box:hover {
    background-color: #d3be9aad;
}

.ferramentas-menu .box-container .box:hover h3 {
    color: #a46f2f;
    font-size: clamp(2.2rem, 3.2vw, 3.2rem);
}

.ferramentas-menu .box-container .box:hover .text {
    color: #a4690b;
}

footer {
    background-color: #3e321c; 
    color: var(--text); 
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
    bottom: 0;
    left: 0; 
    width: 100%;
    z-index: 100; 
}

/* Media Queries para Responsividade */
@media (max-width: 1286px) {
    .introduction {
        padding: 3rem;
        display: flex;
        justify-content: space-between;
    }   
    
    .column-1 img {
        background-color: #c1a16b;
        border-radius: 9rem;
        width: 55rem;
    }

    .column-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 0 0 5rem;
    }
   
}

@media (max-width: 1150px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container p {
        margin: 1rem;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
    .column-1 {
        display: flex;
        justify-content: center;
        margin: 5rem 2rem;
    }
    .column-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .ferramentas-menu .box-container {
        margin: 0 2rem 15rem 2rem;
    }
}

/* Para telas menores*/
@media (max-width: 767px) {
    .container h1 {
        font-size: 3rem;
        
    }

    .container p {
        font-size: 2rem;
        margin: 0 2rem 2rem 2rem;
    }

    .btn {
        width: 14rem;
        font-size: 1.7rem;
    }

     .column-1 {
        margin: 0;
    }

    .column-1 img {
        display: none;
    }

    .column-2 p {
        font-size: 1.7rem;
    }
    
    .introduction {
        padding: 0;
    }

    .h3-fmenu {
        font-size: 2.5rem;
        margin: 0 2rem;

    }

    .ferramentas-menu {
        margin-top: 5rem;
    }

    .ferramentas-menu .box-container {
        display: flex;
        flex-direction: column;
        margin: 0 5rem 15rem 5rem;
    }

}

/* Para telas muito pequenas*/
@media (max-width: 480px) {
    .container h1 {
        font-size: 2.5rem;
    }
    
    .container p {
        font-size: 1.5rem;
    }

    .btn {
        width: 11rem;
        font-size: 1.3rem;
    }

    .column-2 h1 {
        font-size: 2.5rem;
    }

    .column-2 p {
        font-size: 1.5rem;
    }
}
