
/*barra de nav*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    background-color: #3e321c;
    z-index: 1000;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    background-color: #3e321c;
    z-index: 1000; 
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

/* Nome do site na nav*/
.logo img {
    width: 20rem;
    margin-left: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0 1rem;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    font-weight: 300;
    color: var(--text);
}

.navbar a:hover {
    color: #e9d5a0;
    font-size: clamp(1.7rem, 2.1vw, 1.9rem);
    
}
.banner-scroll {
    background-color: rgb(80, 71, 54);
    background-image: url('../img/banner/baanner2.png');
    background-size: 50%;              
    background-repeat: no-repeat;
    background-position: right center;  
    background-attachment: fixed;
    height: 80rem;                     
    width: 100%;
    z-index: 1;
    position: relative;
}

.banner-scroll h1 {
    font-size: 12rem;
    padding-top: 26rem;
    padding-left: 4rem;
    color: #eae1d2;
    word-break: normal;
}

.banner-scroll h2 {
    font-size: 6rem;
    padding-left: 4rem;
    color: var(--text);
    font-weight: 400;
}

.banner-scroll::before {
    background-size: 60%;         
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;              
    transform: translateZ(0);
    transition: opacity 0.3s ease;
}
/*final do container*/

.introduction {
    padding: 6rem 15rem;
}

.introduction h1 {
    font-size: 4.2rem;
    text-align: center;
    color: var(--p);
    margin-bottom: 4rem;
    font-weight: 700;
}

.introduction p {
    font-size: 2rem;
    color: var(--text);
    margin: 2rem 13rem 2rem 13rem;
    font-weight: 300;
    text-align: center;
    display: center;
    word-break: keep-all;
}

footer {
    background-color: #3e321c; 
    color: var(--text); 
    text-align: center;
    padding: 2rem;
    font-size: 1.4rem;
    bottom: 0; 
    left: 0;
    width: 100%; 
    z-index: 100; 
}

/* Media Queries para Responsividade */
@media (max-width: 1296px) {
    .introduction {
        padding: 6rem 5rem; 
    }

    .introduction h1 {
        font-size: 4rem;
    }

    .introduction p {
        font-size: 2.3rem;
        margin: 3rem;
    }
}

/* Para telas menores*/
@media (max-width: 767px) {
    .introduction {
        padding: 6rem 1.5rem; 
    }

    .introduction h1 {
        font-size: 3rem;
    }

    .introduction p {
        font-size: 1.8rem;
        margin: 3rem;
    }
}

@media (max-width: 480px) {
    .introduction h1 {
        font-size: 2.8rem;
    }

    .introduction p {
        font-size: 1.6rem;
        margin: 3rem;
    }

}

